.providers {
  display: flex;
  flex-direction: column;
  align-items: center;

  .provider {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 20px;
    padding: 10px;

    border-radius: var(--border-radius);
    color: var(--text-primary) !important;
    background-color: var(--bg-color-secondary);

    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07),
    0 2px 6px 2px rgba(0, 0, 0, 0.03);

    &:hover {
      cursor: pointer;
      filter: brightness(0.96);
      color: var(--white-10);
      text-decoration: none;
    }

    &:active {
      background-color: var(--bg-color-primary);
    }

    img {
      margin-right: 10px;
    }
  }
}
