.loginStatus {
  width: 100%;

  .user {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: var(--border-radius);
    padding: 4px;
    column-gap: 12px;

    .userAvatar {
      @media screen and (min-width: 768px) {
        display: flex;
      }
      display: none;
      width: 45px;
      height: 45px;
      border-radius: 22.5px;
    }
  }
}
