.loginStatus {
  width: 100%;

  .user {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: var(--border-radius);
    padding: 5px;
    column-gap: 10px;

    .userAvatar {
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }
  }
}
