version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "daily"
    groups:
      storybook:
        patterns:
          - "@storybook/*"
          - storybook
      embla:
        patterns:
          - embla

  - package-ecosystem: "npm"
    directory: "/backend-node"
    schedule:
      interval: "daily"
    groups:
      react-email:
        patterns:
          - "@react-email/*"
          - "react-email"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "uv"
    directory: "/backend"
    schedule:
      interval: "weekly"
