{% extends "base.html" %}

{% block content %}

Someone recently logged into your account on Flathub.<br />
If this was you, there's nothing for you to do right now.<br />

<br />

<table cellpadding="0" cellspacing="0" width="640" border="1">
  <tr>
    <td style="padding: 4px">Login provider</td>
    <td style="padding: 4px">{{ provider }}</td>
  </tr>
  <tr>
    <td style="padding: 4px">Account</td>
    <td style="padding: 4px">{{ login }}</td>
  </tr>
  <tr>
    <td style="padding: 4px">Time</td>
    <td style="padding: 4px">{{ time }}</td>
  </tr>
</table>

<br />
If it wasn't you, please <a href="mailto:admins@flathub.org">contact us</a> immediately.

{% endblock content %}
