{% extends "base.html" %}

{% block content %}

<p>
  {{ issued_to }} has created a new upload token for {% include "app_name_and_id.html" %}.
</p>

<ul>
  <li>
    <strong>Token name:</strong>
    {{ comment }}
  </li>

  <li>
    <strong>Scopes:</strong>
    {{ scopes | join(", ") }}
  </li>

  <li>
    <strong>Repos:</strong>
    {{ repos | join(", ") }}
  </li>

  <li>
    <strong>Expires:</strong>
    {{ expires_at }}
  </li>
</ul>

<p>
  If you do not recognize this activity, please contact us immediately.
</p>

{% endblock content %}
