version: "3"

services:
  redis:
    image: docker.io/library/redis:6
    ports:
      - "6379:6379"

  meilisearch:
    image: docker.io/getmeili/meilisearch:v0.28.1
    environment:
      - MEILI_NO_ANALYTICS=true
    ports:
      - "7700:7700"

  backend:
    image: backend_backend:latest
    build:
      dockerfile: Dockerfile
      context: .
    restart: unless-stopped
    command: bash -c "alembic upgrade head && uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      - REDIS_HOST=redis
      - STRIPE_SECRET_KEY=$STRIPE_SECRET_KEY
      - STRIPE_PUBLIC_KEY=$STRIPE_PUBLIC_KEY
      - STRIPE_WEBHOOK_KEY=$STRIPE_WEBHOOK_KEY
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - db
      - meilisearch
    volumes:
      - /var/lib/flatpak
      - .:/app:z

  worker:
    image: backend_backend:latest
    build:
      dockerfile: Dockerfile
      context: .
    restart: unless-stopped
    command: dramatiq app.worker --processes 1 --threads 2 --verbose --watch app
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
      - db
      - meilisearch
    volumes:
      - /var/lib/flatpak
      - .:/app:z

  db:
    image: docker.io/library/postgres:14
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=test_db

  pgadmin:
    container_name: pgadmin
    image: docker.io/dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    depends_on:
      - db
