version: "3"

services:
  redis:
    image: redislabs/redisearch:2.4.0
    ports:
      - "6379:6379"

  backend:
    build:
      dockerfile: Dockerfile
      context: .
    restart: unless-stopped
    command: bash -c "alembic upgrade head && uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      - REDIS_HOST=redis
      - ENABLE_LOGIN_SUPPORT=yes
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - db
    volumes:
      - /var/lib/flatpak
      - .:/app

  db:
    image: postgres:12
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=test_db

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    depends_on:
      - db
