services:
  redis:
    image: docker.io/library/redis:6
    ports:
      - "6379:6379"

  meilisearch:
    image: docker.io/getmeili/meilisearch:v1.3
    environment:
      - MEILI_NO_ANALYTICS=true
    ports:
      - "7700:7700"

  backend:
    image: backend_backend:latest
    build:
      dockerfile: Dockerfile
      context: .
    restart: unless-stopped
    command: bash -c "alembic upgrade head && granian --interface asgi app.main:app --host 0.0.0.0 --port 8000 --reload --access-log"
    environment: &backend-env
      ENV: development
      REDIS_HOST: redis
      STRIPE_SECRET_KEY: $STRIPE_SECRET_KEY
      STRIPE_PUBLIC_KEY: $STRIPE_PUBLIC_KEY
      STRIPE_WEBHOOK_KEY: $STRIPE_WEBHOOK_KEY
      STATS_BASEURL: ${STATS_BASEURL-https://flathub.org/stats}
      APPSTREAM_REPOS: $APPSTREAM_REPOS
      DATADIR: ${DATADIR-/app/data}
      FLAT_MANAGER_API: $FLAT_MANAGER_API
      BACKEND_NODE_URL: ${BACKEND_NODE_URL-http://backend-node:8001}
      REPO_URL: ${REPO_URL-https://dl.flathub.org/repo}
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - db
      - meilisearch
    volumes:
      - /var/lib/flatpak
      - .:/app:z
    # We need access to flat-manager
    extra_hosts:
      host.docker.internal: host-gateway

  backend-node:
    image: backend-node:latest
    build:
      context: ../backend-node
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8001:8001"

  smtp-test-server:
    image: rnwood/smtp4dev
    restart: unless-stopped
    ports:
      - "2525:2525"
      - "8080:80"
      - "1143:143"

  worker:
    image: backend_backend:latest
    build:
      dockerfile: Dockerfile
      context: .
    restart: unless-stopped
    command: dramatiq app.worker --processes 1 --threads 2 --watch app
    environment: *backend-env
    depends_on:
      - redis
      - db
      - meilisearch
    volumes:
      - /var/lib/flatpak
      - .:/app:z
    # The workers need access to flat-manager, which is a separate repository and usually runs on the host.
    extra_hosts:
      host.docker.internal: host-gateway

  db:
    image: docker.io/library/postgres:14
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=test_db

  pgadmin:
    container_name: pgadmin
    image: docker.io/dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.org
      - PGADMIN_DEFAULT_PASSWORD=admin
    volumes:
      - ./pgadmin-servers.json:/pgadmin4/servers.json
    ports:
      - "5050:80"
    depends_on:
      - db
