alembic
dramatiq[redis,watch]
fastapi
FastAPI-SQLAlchemy
feedgen
lxml
meilisearch
orjson
psycopg2
PyGObject
PyJWT
python-gitlab
python-multipart
redis
requests
sentry-dramatiq
sentry-sdk
sqlalchemy
stripe
unicorn
watchgod
