.primaryButton,
.secondaryButton {
  background-color: var(--color-primary);
  color: var(--white-10);
  border: none;
  height: 48px;
  padding: 8px 20px;
  border-radius: var(--border-radius);
  white-space: nowrap;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    background-color: var(--color-secondary);
    background-position: right center;
  }

  background-image: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-secondary) 50%,
    var(--color-primary) 100%
  );

  transition: 0.5s;
  background-size: 200% auto;
}

.secondaryButton {
  background-color: var(--bg-color-secondary);
  color: var(--color-secondary);
  background-image: unset;
  border: 1px solid var(--color-primary);

  &:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--white-10);
  }
}
