.primaryButton,
.secondaryButton {
  background-color: var(--main-color);
  color: white;
  border: none;
  height: 48px;
  padding: 8px 20px;
  border-radius: var(--border-radius);
  white-space: nowrap;
  text-align: center;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
    background-color: var(--main-color-dark);
    background-position: right center;
  }

  background-image: linear-gradient(
    to right,
    var(--main-color) 0%,
    var(--main-color-dark) 50%,
    var(--main-color) 100%
  );

  transition: 0.5s;
  background-size: 200% auto;
}

.secondaryButton {
  background-color: var(--bg-color-secondary);
  color: var(--main-color-dark);
  background-image: unset;
  border: 1px solid var(--border);

  &:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
  }
}
