.primaryButton,
.secondaryButton {
  background-color: var(--color-primary);
  color: var(--white-10);
  border: none;
  height: 48px;
  padding: 8px 20px;
  border-radius: var(--border-radius);
  white-space: nowrap;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    background-color: var(--color-secondary);
  }

  &:active {
    background-color: var(--bg-color-primary);
  }

  &:disabled {
    cursor: unset;
    background-color: grey;
  }

  transition: 0.5s;
}

.secondaryButton {
  background-color: var(--bg-color-secondary);
  color: var(--color-secondary);
  background-image: unset;
  border: 1px solid var(--color-secondary);

  &:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--white-10);
  }

  &:active {
    background-color: var(--bg-color-primary);
  }

  &:disabled {
    color: var(--white-10);
    border: none;
  }
}
