.pagination {
  display: flex;
  height: 42px;
  background-color: var(--bg-color-secondary);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  width: min-content;
  margin: 0 auto;
  margin-top: 60px;
  color: var(--main-color-dark);
  font-size: 1.2rem;
  align-items: center;

  div,
  a:not(:last-child) {
    &.pageLink {
      border-right: 1px solid var(--border);
    }
  }

  a:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  a:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  .pageLink {
    width: 36px;
    text-align: center;
    transition: 0.5s;
    line-height: 42px;

    &:hover:not(.ellipsis) {
      cursor: pointer;
      background-color: var(--main-color);
      text-decoration: none;
    }

    &.pageActive {
      font-weight: 700;
    }
  }
}
