@import '../../styles/colors';

.tile {
  padding: 12px;
  border: 1px solid $border;
  border-radius: $border-radius;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-color-secondary);
  color: $main-color-dark;

  &:hover {
    background-color: var(--bg-color-primary);
    border-radius: $border-radius;
    color: inherit;
    text-decoration: none;
  }

  color: inherit;
  text-decoration: none;
}
