.addons {
  background-color: var(--bg-color-secondary);
  border-radius: var(--border-radius);

  .addon {
    width: 100%;
    padding: 0px 24px;
    border: 1px solid var(--border);
    border-bottom-width: 0;

    display: flex;
    flex-direction: column;

    &:first-child {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }

    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-width: 1px;
    }

    .time {
      align-self: center;
      text-align: right;
      font-size: 0.9rem;
    }

    .externalLink {
      filter: opacity(0.6);
      align-self: center;

      &:hover {
        filter: opacity(1);
      }
    }
  }
}

.tooltip {
  position: relative;
  align-self: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: var(--bg-color-secondary);
  color: var(--text-primary);
  text-align: center;
  border-radius: var(--border-radius);
  padding: 4px;
  position: absolute;
  z-index: 1;
  top: -40px;
  right: 110%;
  border: 1px solid var(--border);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
