.applicationsSection {
  header {
    margin-top: 40px;
    margin-bottom: 10px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .applications {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: space-around;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .applicationsSection {
    .applications {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1400px) {
  .applicationsSection {
    .applications {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }
}
