.downloads {
  height: 300px;
  padding-top: 16px;
  padding-bottom: 48px;
  padding-left: 16px;
  padding-right: 16px;

  background-color: var(--bg-color-secondary);

  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07),
    0 2px 6px 2px rgba(0, 0, 0, 0.03);

  h3 {
    margin-top: 0px;
  }
}
