@import '../../../styles/colors';

.applicationCard {
  background-color: var(--bg-color-secondary);
  grid-column: span 1 / span 1;

  border: 1px solid $border;
  display: flex;
  flex-direction: column;

  border-radius: $border-radius;

  &:hover {
    cursor: pointer;
    background-color: var(--bg-color-primary);

    img {
      filter: drop-shadow(0 0.08rem 0.1rem rgba(0, 0, 0, 0.25))
        drop-shadow(0 0.4rem 0.7rem rgba(0, 0, 0, 0.14));
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 224px;

    img {
      display: block;
      margin: 2rem auto;
      align-self: center;
      width: 128px;
      height: 128px;
    }
  }

  .summary {
    color: white;
    background-color: $glassGrey;
    padding: 0 16px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    h5 {
      margin: 0;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.6;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    p {
      margin: 0;
      font-size: 0.9rem;
      line-height: 1.3;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
