.instructions {
  background-color: var(--bg-color-secondary);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
}
