.pre {
  display: block;
  position: relative;
  padding: 9.5px;
  padding-right: 40px;
  margin: 0 0 10px;
  font-size: 13px !important;
  line-height: 1.42857143;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace !important;

  .copy {
    position: absolute;
    right: 0px;
    top: 0px;
    border: 0px none;
    background-color: transparent;
    font-size: 24px;

    &:active {
      color: #ccc;
    }
  }
}
