.pre {
  display: block;
  position: relative;
  padding: 9.5px;
  padding-right: 40px;
  margin: 0 0 10px;
  font-size: 13px !important;
  line-height: 1.42857143;
  color: var(--text-secondary);
  background-color: var(--bg-color-secondary);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  overflow: auto;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace !important;

  .copy {
    position: absolute;
    right: 4px;
    top: 4px;
    border: 0px none;
    background-color: transparent;
    font-size: 24px;
    color: var(--text-secondary);

    &:active {
      color: var(--text-primary);
    }
  }
}
