.pre {
  display: block;
  position: relative;
  padding: 9.5px;
  padding-right: 40px;
  margin: 0 0 10px;
  font-size: 13px !important;
  line-height: 1.4;
  color: var(--text-secondary);
  background-color: var(--bg-color-secondary);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07),
    0 2px 6px 2px rgba(0, 0, 0, 0.03);
  border-radius: var(--border-radius);
  overflow: auto;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;

  &.nested {
    background-color: var(--bg-color-primary);
  }

  .copy {
    position: absolute;
    right: 4px;
    top: 4px;
    border: 0px none;
    background-color: transparent;
    font-size: 24px;
    color: var(--text-secondary);
    cursor: pointer;

    &:active {
      color: var(--text-primary);
    }
  }
}
