#application {
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > header {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    width: 100%;
    grid-template-columns: 148px 1fr 86px;

    .logo {
      display: flex;
      margin: 10px;
      align-self: center;
      height: 128px;
      width: 128px;

      img {
        max-width: 128px;
        margin: auto;
        margin-top: 0;
        align-items: center;
        text-align: center;
        filter: drop-shadow(0 0.08rem 0.1rem rgba(0, 0, 0, 0.25))
          drop-shadow(0 0.4rem 0.7rem rgba(0, 0, 0, 0.14));
      }
    }

    div.details {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;

      h2 {
        margin-top: 0;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 10px;
      }

      .devName {
        font-size: 14px;
        line-height: 1.4;
        font-weight: 300;
      }
    }

    .install {
      justify-self: end;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  h3 {
    font-weight: 300;
    font-size: 1.3rem;
  }

  hr {
    border-color: rgba(234, 234, 234, 0.281);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .description {
    padding-top: 10px;
    padding-bottom: 10px;

    ul {
      padding-left: 24px;
    }
  }

  .container {
    margin: 0 auto;
    max-width: 90%;
  }

  .additionalInfo {
    margin: 0 auto;
    max-width: 90%;

    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @media (min-width: 1400px) {
    .container {
      width: 80%;
    }
  }

  .carousel {
    background-color: var(--bg-color-secondary);
  }
}
