#application {
  display: grid;
  grid-template-columns: auto 90% auto;

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1400px) {
    grid-template-columns: auto 1400px auto;
  }

  & > header {
    grid-column: 2;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    width: 100%;
    grid-template-columns: 148px 1fr 86px;

    .logo {
      display: flex;
      margin: 10px;
      align-self: center;
      height: 128px;
      width: 128px;

      img {
        max-width: 128px;
        margin: auto;
        margin-top: 0;
        align-items: center;
        text-align: center;
        filter: drop-shadow(0 0.08rem 0.1rem rgba(0, 0, 0, 0.25))
          drop-shadow(0 0.4rem 0.7rem rgba(0, 0, 0, 0.14));
      }
    }

    div.details {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;

      h2 {
        margin-top: 0;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 10px;
      }

      .devName {
        font-size: 14px;
        line-height: 1.4;
        font-weight: 300;
      }
    }

    .install {
      justify-self: end;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  h3 {
    font-weight: 300;
    font-size: 1.3rem;
  }

  .description {
    padding-top: 10px;
    padding-bottom: 10px;

    ul {
      padding-left: 24px;
    }
  }

  .centerArrows {
    margin: 0 auto;
    max-width: 90%;

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1400px) {
      max-width: 1400px;
    }
  }

  .additionalInfo {
    grid-column: 2;

    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .carousel {
    grid-column: 1 / 4;
    background-color: var(--bg-color-secondary);
  }
}
