#application {
  display: grid;
  grid-template-columns: auto 90% auto;

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1500px) {
    grid-template-columns: auto 1400px auto;
  }

  & > header {
    grid-column: 2;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    width: 100%;

    .logo {
      display: flex;
      margin: 10px;
      align-self: center;
      max-height: 128px;
      max-width: 128px;
      filter: drop-shadow(0 0.08rem 0.1rem rgba(0, 0, 0, 0.35))
        drop-shadow(0 0.4rem 0.7rem rgba(0, 0, 0, 0.18));
    }

    div.details {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin: auto 12px auto 12px;

      h2 {
        margin-top: 0;
        margin-bottom: 10px;
      }

      .devName {
        font-size: 14px;
        font-weight: 300;
      }
    }

    .actions {
      margin-left: auto;

      & button {
        display: block;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  h3 {
    font-size: 1.3rem;
  }

  .description {
    ul {
      padding-left: 24px;
    }
  }

  .carouselWrapper {
    margin: 0 auto;
    max-width: 90%;
    position: relative;

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1500px) {
      max-width: 1400px;
    }

    .zoom {
      position: absolute;
      z-index: 5;
      right: 12px;
      bottom: 12px;

      width: 48px;
      height: 48px;

      font-size: 24px;
      padding: 12px;

      border-radius: var(--border-radius);

      background-color: var(--bg-color-secondary);
      color: var(--color-secondary);
      border: 1px solid var(--color-primary);
      line-height: 1em;

      &:hover {
        background-color: var(--color-primary);
        color: var(--white-10);
        cursor: pointer;
      }
    }
  }

  .additionalInfo {
    grid-column: 2;

    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .carousel {
    grid-column: 1 / 4;
    background-color: var(--bg-color-secondary);
  }
}
