@import './../../../styles/colors';

#application {
  margin-top: 30px;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > header {
    display: grid;
    grid-template-columns: 0.3fr 1.5fr 0.2fr;
    margin-bottom: 18px;

    .logo {
      display: flex;
      margin: 10px;
      align-self: center;
      height: 128px;

      img {
        max-width: 128px;
        margin: auto;
        margin-top: 0;
        align-items: center;
        text-align: center;
        filter: drop-shadow(0 0.08rem 0.1rem rgba(0, 0, 0, 0.25))
          drop-shadow(0 0.4rem 0.7rem rgba(0, 0, 0, 0.14));
      }
    }

    div.details {
      margin-left: 10px;
      margin-top: 10px;

      h2 {
        margin-top: 0;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 10px;
      }

      .appSummary {
        font-size: 14px;
        line-height: 1.4;
        font-weight: 300;
      }
    }

    .install {
      justify-self: end;
      padding-top: 10px;
    }
  }

  h3 {
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 1.5em;
    margin-bottom: 16px;
  }

  h5 {
    font-weight: 400;
    font-size: 10.79pt;
    margin-top: 1.5em;
    margin-bottom: 12px;
  }

  hr {
    border-color: rgba(234, 234, 234, 0.281);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .description {
    margin-top: 0;
    margin-bottom: 0;

    ul {
      padding-left: 24px;
    }
  }

  .container {
    margin: 0 auto;
    max-width: 90%;
  }

  @media (min-width: 1400px) {
    .container {
      width: 80%;
    }
  }

  .carousel {
    background-color: white;
  }
}
