.list {
  width: 100%;

  @media (min-width: 768px) {
    width: calc(50% - 4px);
  }

  @media (min-width: 1400px) {
    width: calc(25% - 6px);
  }

  .item {
    width: 100%;
    padding: 16px;
    background-color: var(--bg-color-secondary);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07),
      0 2px 6px 2px rgba(0, 0, 0, 0.03);

    display: grid;
    grid-template-columns: 36px calc(100% - 36px - 36px) 36px;

    &.noLink {
      grid-template-columns: 36px calc(100% - 36px);
    }

    &:first-child {
      border-top-right-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius);
    }

    &:last-child {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      border-bottom-width: 1px;
    }

    .details {
      font-size: 1rem;

      a,
      span {
        font-size: 0.8rem;
        color: var(--text-secondary);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        display: block;
      }
    }

    .icon {
      color: var(--text-secondary);
      font-size: 1.5rem;
    }

    .icon,
    .details,
    .externalLink {
      align-self: center;
    }

    .externalLink {
      filter: opacity(0.6);
      text-align: end;
    }
  }
}
