@import './../../../styles/colors';

.list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  .item {
    min-width: 360px;
    padding: 12px;
    background-color: var(--bg-color-secondary);
    border: 1px solid $border;
    border-bottom-width: 0;

    max-width: 400px;
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 0.1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;

    &:first-child {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }

    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-width: 1px;
    }

    .details {
      font-size: 1rem;
    }

    .icon {
      justify-self: center;
    }

    .content {
      color: var(--text-secondary);
    }

    .icon,
    .details {
      align-self: center;
    }
  }
}
