@import './../../../styles/colors';

.urls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px 6px;

  .url {
    min-width: 360px;
    padding: 12px;
    background-color: white;
    border: 1px solid $border;
    border-bottom-width: 0;

    max-width: 400px;
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 0.1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;

    &:first-child {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }

    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-width: 1px;
    }

    .details {
      font-size: 1rem;

      a {
        font-size: 0.8rem;
        color: grey;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 250px;
        display: inline-block;
      }
    }

    .icon {
      justify-self: center;
    }

    .icon,
    .details,
    .externalLink {
      align-self: center;
    }

    .externalLink {
      filter: opacity(0.6);
      text-align: center;
    }
  }
}
