.releases {
  background-color: var(--bg-color-secondary);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);

  .releaseDetails {
    padding: 8px 24px;

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 8px;

      h3 {
        margin-bottom: 0px;
      }

      div {
        align-self: center;
        font-size: 0.9rem;
      }
    }
  }
}
