@import './../../../styles/colors';

.releases {
  background-color: white;
  border: 1px solid $border;
  border-radius: 8px;
  margin-top: 18px;
  margin-bottom: 18px;

  .releaseDetails {
    padding: 8px 24px;

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 8px;

      div {
        align-self: center;
        font-size: 0.9rem;
      }
    }
  }

  .history {
    border-top: 1px solid $border;
    text-align: center;
    padding: 8px 24px;
  }
}
