#footer {
  background-color: var(--color-primary);
  border-top: 1px solid var(--color-primary);
  padding: 48px;
  margin-top: 60px;

  .footerContainer {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 0px 0px;
    justify-items: center;
    max-width: 900px;
    @media (max-width: 992px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;

      .footerSection {
        .footerTitle {
          font-size: 1.4em;
          display: flex;
          justify-content: center;
        }
        .footerItems {
          .footerItem {
            a {
              font-size: 1.3em;
              height: 48px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }

  a {
    color: inherit;
  }

  .footerSection {
    margin: 12px;
    min-width: 200px;
    color: var(--white-10);

    .footerTitle {
      font-weight: bold;
    }

    .footerItems {
      display: flex;
      flex-direction: column;

      .footerItem {
        font-size: 11pt;
        line-height: 1.4;
      }
    }
  }
}
