.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  .navHeader {
    background-color: var(--color-primary);
    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: minmax(64px, 1fr) auto minmax(64px, 1fr);
    }
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }
    border-bottom: 1px solid var(--color-primary);

    height: var(--header-height);

    div,
    a,
    span {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    #brand {
      background-image: url('/img/logo/flathub-logo-toolbar.svg');
      @media (max-width: 570px) {
        background-image: url('/img/flathub-logo.png');
        background-size: contain;
      }
      background-repeat: no-repeat;
      background-position: center;
      background-color: var(--color-primary);
      margin: auto 12px;
      padding: 0 12px;
      border-radius: var(--border-radius);
      max-width: 150px;
      height: 43px;
      transition: 0.5s;

      &:hover {
        cursor: pointer;
        background-color: var(--color-highlight);
      }

      &:active {
        background-color: var(--bg-color-primary);
      }
    }

    .brandContainer {
      height: 100%;
      justify-content: start;
    }

    #search {
      display: unset;
      margin-top: auto;
      margin-bottom: auto;
      border: var(--color-primary) solid 1px;
      border-radius: var(--border-radius);

      & > form {
        height: 43px;

        .searchIcon {
          position: absolute;
          font-size: 1.3rem;
          margin-top: 12px;
          margin-left: 12px;
          margin-right: 12px;
        }

        input {
          padding: 8px;
          padding-left: 44px;
          padding-right: 44px;
          height: 100%;
          border: none;
          outline: none;
          color: var(--text-primary);
          background-color: var(--bg-color-primary);
          border-radius: var(--border-radius);
          box-sizing: border-box;
          width: 100%;
        }
      }
    }

    .navbarContainer {
      @media screen and (max-width: 768px) {
        min-width: unset;
      }

      min-width: 400px;
      height: 100%;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;

      #navbar {
        @media screen and (min-width: 768px) {
          margin: auto 0;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }

        display: none;
        margin-left: auto;

        &.responsive {
          display: block;
          position: absolute;
          background-color: var(--color-primary);
          float: inherit;
          top: 64px;
          width: 100%;
          left: 0px;
          text-align: center;
          z-index: 50;

          & .navItem {
            width: 100%;
            max-width: none;
            height: 48px;
            margin: auto 0;
            border-radius: unset;
          }
          border-bottom: 1px solid var(--color-primary);
        }

        .navItem {
          padding: 8px 20px;
          margin: 0 6px;
          border-radius: var(--border-radius);
          font-weight: 500;
          max-width: 110px;
          align-items: center;
          transition: 0.5s;
          color: var(--white-10);

          &:hover {
            cursor: pointer;
            color: var(--white-10);
            background-color: var(--color-highlight);
          }

          &:active {
            background-color: var(--bg-color-primary);
          }
        }
      }

      .toggleContainer {
        justify-content: end;
        .navbarToggle {
          cursor: pointer;
          font-size: 24px;
          width: 64px;
          align-items: center;
          transition: 0.5s;
          color: var(--white-10);

          &:hover {
            cursor: pointer;
            background-color: var(--color-highlight);
          }

          &:active {
            background-color: var(--bg-color-primary);
          }
        }

        @media screen and (min-width: 768px) {
          display: none;
        }
      }
    }
  }
}
