.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  .navHeader {
    background-color: var(--bg-color-primary);
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--main-color);

    height: var(--header-height);

    div,
    a,
    span {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    #brand {
      background-image: url('/img/logo/flathub-logo-toolbar.svg');
      @media (max-width: 570px) {
        background-image: url('/img/flathub-logo.png');
        background-size: contain;
      }
      background-repeat: no-repeat;
      background-position: center;
      background-color: var(--main-color);
      margin: auto 12px;
      padding: 0 12px;
      border-radius: var(--border-radius);
      max-width: 150px;
      height: 34px;
      transition: 0.5s;

      &:hover {
        cursor: pointer;
        background-color: var(--main-color-dark);
      }

      &:active {
        background-color: var(--glassGrey);
      }
    }

    .brandContainer {
      min-width: 112px;
      height: 100%;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 26px;
      margin-right: auto;
      justify-content: start;
    }

    #search {
      display: unset;
      margin-top: auto;
      margin-bottom: auto;
      border: var(--main-color) solid 1px;
      border-radius: var(--border-radius);

      .searchIcon {
        position: absolute;
        font-size: 1.3rem;
        margin-top: 8px;
        margin-left: 8px;
      }

      input {
        padding: 8px;
        padding-left: 38px;
        height: 100%;
        border: none;
        outline: none;
        color: var(--text-primary);
        background-color: var(--bg-color-secondary);
        border-radius: var(--border-radius);
        box-sizing: border-box;
        width: 100%;
      }
    }

    .navbarContainer {
      @media screen and (max-width: 768px) {
        min-width: unset;
      }

      min-width: 400px;
      height: 100%;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;

      #navbar {
        @media screen and (min-width: 768px) {
          margin: auto 0;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }

        display: none;
        margin-left: auto;

        &.responsive {
          display: block;
          position: absolute;
          background-color: var(--bg-color-primary);
          float: inherit;
          top: 64px;
          width: 100%;
          left: 0px;
          text-align: center;
          z-index: 50;

          & .navItem {
            width: 100%;
            max-width: none;
            height: 48px;
            margin: auto 0;
            border-radius: unset;
          }
          border-bottom: 1px solid var(--main-color);
        }

        .navItem {
          padding: 8px 20px;
          margin: 0 6px;
          border-radius: var(--border-radius);
          font-weight: 500;
          max-width: 110px;
          align-items: center;
          transition: 0.5s;

          &:hover {
            cursor: pointer;
            color: white;
            background-color: var(--main-color);
          }

          &:active {
            background-color: var(--glassGrey);
          }
        }
      }

      .toggleContainer {
        justify-content: end;
        .navbarToggle {
          cursor: pointer;
          font-size: 24px;
          max-width: 64px;
          align-items: center;
          transition: 0.5s;

          &:hover {
            cursor: pointer;
            background-color: var(--main-color);
            color: white;
          }

          &:active {
            background-color: var(--glassGrey);
          }
        }

        @media screen and (min-width: 768px) {
          display: none;
        }
      }
    }
  }
}
