.transactionList {
  --columns: 7;

  display: grid;
  grid-template-columns: repeat(1fr, var(--columns));

  thead,
  tbody,
  tr {
    display: grid;
    grid-template-columns: subgrid;

    grid-column: 1 / calc(var(--columns) + 1);

    align-items: center;
  }

  .info {
    background-color: var(--bg-color-secondary);
    border-radius: var(--border-radius);

    padding: 10px;
    margin: 5px 0;

    min-width: 200px;

    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07),
      0 2px 6px 2px rgba(0, 0, 0, 0.03);
  }
}
