.details {
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: auto auto auto;

  padding: 16px 8px 16px 16px;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07),
    0 2px 6px 2px rgba(0, 0, 0, 0.03);

  color: var(--text-primary) !important;
  background-color: var(--bg-color-secondary);
  border-radius: var(--border-radius);

  .displayname {
    grid-row: 1;
    grid-column: 1;

    margin-top: 0;
    margin-bottom: 10px;
  }

  .subsection {
    margin: auto 16px auto 16px;

    h3 {
      font-size: 18pt;
      margin-top: 16px;
    }

    .authList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;

      .linked {
        display: flex;
        align-items: center;
        background-color: var(--bg-color-primary);
        border-radius: var(--border-radius);

        color: var(--text-primary);

        gap: 10px;
        padding: 0 10px;

        p b {
          text-transform: capitalize;
        }

        .avatar {
          border-radius: 25px;
        }
      }
    }
  }

  .actions {
    grid-row-start: 1;
    grid-row-end: 4;

    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
