.details {
  display: grid;
  grid-template-columns: 140px auto 120px;

  padding: 16px 8px 16px 16px;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07),
    0 2px 6px 2px rgba(0, 0, 0, 0.03);

  color: var(--text-primary) !important;
  background-color: var(--bg-color-secondary);
  border-radius: var(--border-radius);

  .avatar {
    width: 140px;
    height: 140px;
    border-radius: 70px;
  }

  .textDetails {
    display: flex;
    flex-direction: column;

    margin: auto 16px auto 16px;

    h2 {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  .actions {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
