.about {
  .headerContainer {
    background: var(--main-color) url('/img/about.svg') no-repeat top left;
    background-size: contain;

    @media (max-width: 992px) {
      background-image: unset;
    }

    color: var(--white);

    a:visited {
      color: var(--white-10);
    }
    padding-top: 1rem;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 1em;
  }

  .headerContent p {
    margin-bottom: 50px;
    font-size: 110%;
  }

  .headerContent a {
    color: var(--text-secondary);
    font-weight: bold;
    transition: all 200ms;
    opacity: 0.8;
  }

  p {
    line-height: 1.5;
    margin: 0 0 10px;
  }
}

.storeContentContainerNarrow {
  padding-left: 5%;
  padding-right: 5%;
  /* desktop-medium */
  @media all and (min-width: 841px) and (max-width: 1280px) {
    padding-left: 20%;
    padding-right: 20%;
  }
  /* desktop-large */
  @media all and (min-width: 1281px) and (max-width: 1440px) {
    padding-left: 22%;
    padding-right: 22%;
  }
  /* desktop-large-2 */
  @media all and (min-width: 1441px) and (max-width: 1600px) {
    padding-left: 24%;
    padding-right: 24%;
  }
  /* desktop-large-3 */
  @media all and (min-width: 1601px) and (max-width: 1920px) {
    padding-left: 30%;
    padding-right: 30%;
  }

  /* desktop-xlarge */
  @media all and (min-width: 1920px) {
    padding-left: 32%;
    padding-right: 32%;
  }
}
