@import "colors";



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .applications-section,
  .applications-collection,
  .categories-section {
    .applications,
    .categories {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  header nav {
    #search {
      display: block;
    }
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .applications-section,
  .applications-collection,
  .categories-section {
    .applications,
    .categories {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  footer#footer {
    flex-direction: row;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1400px) {
  .main-container {
    width: 80%;
  }

  .applications-section,
  .applications-collection,
  .categories-section {
    .applications,
    .categories {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  #application {
    .container  {
      width: 70%;
      margin: 0 auto;
    }
  }

}
