@import 'colors';

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1400px) {
  .main-container {
    width: 80%;
  }

  #application {
    .container {
      width: 70%;
      margin: 0 auto;
    }
  }
}
