@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap');
@import 'colors';

:root {
  --bg-color-primary: #f6f5f4;
  --bg-color-secondary: white;

  --text-primary: #2e3436;
  --text-secondary: #727272;
}

[data-theme='dark'] {
  --bg-color-primary: #121212;
  --bg-color-secondary: #202020;

  --text-primary: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.6);

  a {
    color: $main-color-dark;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--text-primary);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0.67em 0;
  font-weight: 300;
  font-size: 250%;
}

h2 {
  margin: 0.67em 0;
  font-weight: 300;
  font-size: 200%;
}

h3 {
  font-size: 180%;
  line-height: 1.1;
  font-weight: 300;
}

h4 {
  font-weight: 400;
  font-size: 100%;
}

h5 {
  font-weight: 400;
  font-size: 90%;
}

h6 {
  font-weight: 400;
  font-size: 70%;
}
