@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}
