@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

:root {
  --white: rgba(255, 255, 255, 0.87);
  --white-10: #f6f5f4;
  --bg-color-primary: var(--white-10);
  --bg-color-secondary: var(--white);

  --text-primary: #2e3436;
  --text-secondary: #727272;

  --color-primary: #4a86cf;
  --color-secondary: #00a8e2;

  --color-highlight: rgba(0, 0, 0, 0.1);

  --border-radius: 8px;
  --header-height: 64px;
}

[data-theme='dark'] {
  --bg-color-primary: #262626;
  --bg-color-secondary: #333;

  --text-primary: var(--white);
  --text-secondary: rgba(255, 255, 255, 0.6);

  --color-highlight: rgba(255, 255, 255, 0.1);

  a {
    color: var(--color-secondary);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--text-primary);
  line-height: 1.7;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0.67em 0;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 0.9;
}

h2 {
  margin: 0.67em 0;
  font-weight: 700;
  line-height: 0.9;
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
  line-height: 0.9;
  font-weight: 500;
}

h4 {
  font-weight: 400;
  line-height: 0.9;
  font-size: 1em;
}

h5 {
  font-weight: 400;
  line-height: 0.9;
  font-size: 0.9em;
}

h6 {
  font-weight: 400;
  line-height: 0.9;
  font-size: 0.7em;
}

.carousel {
  outline: none;
  background: var(--bg-color-secondary);
  width: 100%;

  .control-arrow {
    font-size: 32px !important;
    opacity: 0.9 !important;
    top: calc(50% - 30px) !important;

    justify-content: center;
    display: inline-flex;

    height: 48px !important;
    padding: 8px 20px !important;
    border-radius: var(--border-radius) !important;

    background-color: var(--bg-color-secondary) !important;
    color: var(--color-secondary) !important;
    border: 1px solid var(--color-primary) !important;

    &:hover {
      background-color: var(--color-primary) !important;
      color: var(--white-10) !important;
    }

    &.control-prev {
      left: 12px !important;

      &::before {
        display: none;
      }
    }

    &.control-next {
      right: 12px !important;

      &::before {
        display: none;
      }
    }
  }

  .slide {
    margin-bottom: 60px;
    margin-top: 20px;
    background-color: var(--bg-color-secondary);
  }

  .control-dots {
    margin-bottom: 20px;

    .dot {
      background-color: var(--text-primary);
      opacity: 0.4;
      box-shadow: none;
      transform: scale(1);

      &.selected {
        transform: scale(1.1);
        opacity: 0.8;
        transition: 200ms all linear;
      }
    }
  }
}

.main-container {
  margin: 0 auto;
  max-width: 90%;

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1500px) {
    max-width: 1400px;
  }
}

main {
  flex-grow: 1;
}
