@import 'colors';

div#wrapper {
  background-color: $bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  margin: 0 auto;
  max-width: 90%;

  &.center {
    max-width: 600px;
  }

  h1 {
    margin-top: 100px;
    font-weight: 300;
    font-size: 250%;
  }

  h3 {
    font-weight: 300;
    font-size: 120%;
  }

  h6 {
    font-weight: 400;
    font-size: 70%;
  }

  .hint {
    margin-top: 0.5em !important;
    color: grey;
  }

  p.introduction {
    margin-bottom: 40px;
    font-size: 110%;
    font-weight: 300;
    max-width: 700px;
  }

  .intro-links {
    display: flex;
    flex-direction: row;

    .primary-button:last-child {
      margin-left: 10px;
    }
  }
}

.categories-sidebar {
  width: 210px;
  background-color: rgba(0, 0, 0, 0.03);
  margin-right: 54px;
  height: 100%;
  padding: 24px;
  color: rgba(0, 0, 0, 0.87);

  h4 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14pt;
    margin-bottom: 18px;
    margin-top: 18px;
  }

  hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .item {
    font-size: 10pt;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.54);

    &:hover {
      color: #4a86cf;
      cursor: pointer;
    }
  }
}

.applications-collection {
  margin-top: 60px;

  width: 100%;
  min-height: 750px;

  .collection {
    width: 100%;

    h2 {
      font-size: 180%;
      line-height: 1.1;
      font-weight: 300;
      line-height: 2;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.collection-wrapper {
  display: flex;
  flex-direction: row;
}

.applications-section,
.applications-collection,
.categories-section {
  header {
    margin-top: 40px;
    margin-bottom: 10px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h3 {
      font-size: 180%;
      line-height: 1.1;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .applications,
  .categories {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    justify-content: space-around;
  }
}

.category-card {
  background-color: white;
  border: 1px solid $border;
  max-width: 360px;
  width: 100%;
  border-radius: 12px;
  margin: 6px;
  font-size: 1rem;
  padding: 12px 18px;

  &:hover {
    cursor: pointer;
  }
}

#application {
  margin-top: 30px;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    display: grid;
    grid-template-columns: 0.3fr 1.5fr 0.2fr;
    margin-bottom: 18px;

    .logo {
      display: flex;
      margin: 10px;
      align-self: center;
      height: 224px;

      img {
        max-width: 128px;
        margin: auto;
        margin-top: 0;
        align-items: center;
        text-align: center;
        filter: drop-shadow(0 0.08rem 0.1rem rgba(0, 0, 0, 0.25))
          drop-shadow(0 0.4rem 0.7rem rgba(0, 0, 0, 0.14));
      }
    }

    div.details {
      margin-left: 10px;
      margin-top: 10px;

      h2 {
        margin-top: 0;
        font-size: 2rem;
        font-weight: 300;
        color: $dark;
        margin-bottom: 10px;
      }

      .app-summary {
        font-size: 14px;
        line-height: 1.4;
        font-weight: 300;
        color: grey;
      }
    }

    .install {
      justify-self: end;
      padding-top: 10px;

      .install-button {
        background-color: $main-color;
        border-color: $main-color-dark;
        height: 42px;
        width: 100px;
        font-size: 1rem;
      }
    }
  }

  div.releases {
    background-color: white;
    border: 1px solid $border;
    border-radius: 8px;
    margin-top: 18px;
    margin-bottom: 18px;

    .release-details {
      padding: 8px 24px;

      header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
          align-self: center;
          font-size: 0.9rem;
        }

        h3 {
          font-size: 1.1rem;
          font-weight: 700;
        }
      }
    }

    .history {
      border-top: 1px solid $border;
      text-align: center;
      padding: 8px 24px;
    }
  }

  div.urls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px 6px;

    .url {
      min-width: 360px;
      padding: 12px;
      background-color: white;
      border: 1px solid $border;
      border-bottom-width: 0;

      max-width: 400px;
      display: grid;
      grid-template-columns: 0.3fr 1.7fr 0.1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;

      &:first-child {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }

      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-width: 1px;
      }

      .details {
        font-size: 1rem;

        a {
          font-size: 0.8rem;
          color: grey;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 250px;
          display: inline-block;
        }
      }

      .icon {
        justify-self: center;
      }

      .icon,
      .details,
      .external-link {
        align-self: center;
      }

      .external-link {
        filter: opacity(0.6);
        text-align: center;
      }
    }
  }

  small {
    color: grey;
    font-size: 0.8rem;
    padding-bottom: 12px;

    a {
      font-size: 0.8rem;
    }
  }

  .app-urls {
    padding-bottom: 25px;
  }

  h3 {
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 1.5em;
    margin-bottom: 16px;
  }

  h5 {
    font-weight: 400;
    font-size: 10.79pt;
    margin-top: 1.5em;
    margin-bottom: 12px;
  }

  hr {
    border-color: rgba(234, 234, 234, 0.281);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .description {
    margin-top: 0;
    margin-bottom: 0;

    ul {
      padding-left: 24px;
    }
  }

  .release-details {
    h3 {
      margin-top: 18px;
    }
  }

  .app-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    div.app-info-item {
      flex-shrink: 0;
      flex-basis: 200px;

      .app-info-title {
        color: rgba(0, 0, 0, 0.54);
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 12px;
      }

      .app-info-value > span,
      .app-info-value {
        font-size: 13px;
        line-height: 16px;
        color: $dark;
      }

      padding-bottom: 20px;
    }
  }
}

.primary-button,
.secondary-button {
  background-color: $main-color;
  color: white;
  border: 1px solid #4577b4;
  font-size: 10pt;
  height: 36px;
  padding: 8px 20px;
  border-radius: 6px;

  &:hover {
    cursor: pointer;
  }
}

.secondary-button {
  background-color: white;
  color: $main-color;

  font-weight: 400;
  white-space: nowrap;
  text-align: center;

  text-transform: capitalize;
}

.carousel {
  outline: none;
  min-height: 350px;
  background: white;
  width: 100%;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;

  .control-arrow {
    background-color: black !important;
    opacity: 0.7 !important;
    top: calc(50% - 30px) !important;

    height: 50px;
    width: 50px;
    border-radius: 9999px;
    justify-content: center;
    display: inline-flex;

    &.control-prev {
      left: 12px !important;

      &::before {
        border: 0;
        display: none;
      }
    }

    &.control-next {
      right: 12px !important;

      &::before {
        border: 0;
        display: none;
      }
    }

    img {
      width: 24px;
      margin: 2px;
      filter: opacity(1) contrast(0);
      align-self: center;
    }
  }

  .slide {
    margin-bottom: 60px;
    margin-top: 20px;
    background-color: white;

    img {
      width: auto;
      height: 100%;
    }
  }

  .control-dots {
    margin-bottom: 20px;

    .dot {
      background-color: black;
      opacity: 0.4;
      box-shadow: none;
      transform: scale(1);

      &.selected {
        transform: scale(1.1);
        opacity: 0.8;
        transition: 200ms all linear;
      }
    }
  }
}

.badges {
  .grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 240px;
    grid-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    .title {
      grid-column: 1 / 3;
    }
  }
}

.about,
.badges {
  .header-container {
    background: $main-color url('/img/tiles.svg') no-repeat top left;
    color: white;
    padding-top: 100px;
  }

  header .header-content h1 {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 250%;
  }

  header .header-content p {
    margin-bottom: 50px;
    font-size: 110%;
    font-weight: 300;
  }

  header .header-content a {
    color: white;
    font-weight: bold;
    transition: all 200ms;
    opacity: 0.8;
  }

  section {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  p {
    margin-bottom: 1.5em;
    line-height: 1.5;
    margin: 0 0 10px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Source Sans Pro', 'Source Sans', sans-serif;
    font-weight: 300;
    color: inherit;
  }

  h1 {
    margin: 0.67em 0;
  }
}

.store-content-container-narrow {
  padding-left: 5%;
  padding-right: 5%;
}

/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) {
  .store-content-container-narrow {
    padding-left: 20%;
    padding-right: 20%;
  }
}
/* desktop-large */
@media all and (min-width: 1281px) and (max-width: 1440px) {
  .store-content-container-narrow {
    padding-left: 22%;
    padding-right: 22%;
  }
}
/* desktop-large-2 */
@media all and (min-width: 1441px) and (max-width: 1600px) {
  .store-content-container-narrow {
    padding-left: 24%;
    padding-right: 24%;
  }
}
/* desktop-large-3 */
@media all and (min-width: 1601px) and (max-width: 1920px) {
  .store-content-container-narrow {
    padding-left: 30%;
    padding-right: 30%;
  }
}

/* desktop-xlarge */
@media all and (min-width: 1920px) {
  .store-content-container-narrow {
    padding-left: 32%;
    padding-right: 32%;
  }
}

main {
  flex-grow: 1;
}

@import 'adaptive';
