@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply mb-4;
    @apply text-flathub-dark-gunmetal;
    @apply leading-7;

    @media (prefers-color-scheme: dark) {
      @apply text-flathub-spanish-gray;
    }
  }

  main {
    flex-grow: 1;
  }

  .Toastify__toast {
    @apply rounded-xl;
  }

  html,
  body {
    @apply p-0;
    @apply m-0;
    @apply overflow-x-hidden;
    @apply text-flathub-dark-gunmetal;
    @apply min-h-screen;
  }

  @media (prefers-color-scheme: dark) {
    html,
    body {
      @apply text-flathub-gainsborow;
    }
  }

  button,
  a {
    &:focus-visible {
      @apply outline;
      @apply outline-flathub-celestial-blue;
    }
  }
}

:root {
  // colors used via tailwind
  --flathub-celestial-blue: 74 144 217;
  --flathub-electric-red: 226 0 0;

  --flathub-status-green: 49 168 114;
  --flathub-status-green-dark: 143 239 164;

  --flathub-status-yellow: 177 127 10;
  --flathub-status-yellow-dark: 248 228 92;

  --flathub-status-orange: 198 70 0;
  --flathub-status-orange-dark: 230 81 0;

  --flathub-status-red: 192 28 40;
  --flathub-status-red-dark: 211 47 47;

  // grays
  --flathub-white: 255 255 255;

  --flathub-gainsborow: 222 221 218;

  --flathub-gray-x11: 192 191 188;

  --flathub-spanish-gray: 154 153 150;

  --flathub-sonic-silver: 119 118 123;

  --flathub-granite-gray: 94 92 100;

  --flathub-arsenic: 61 56 70;

  --flathub-dark-gunmetal: 36 31 49;

  --flathub-black: 0 0 0;

  --base-border-radius: 12px;
  --button-border-radius: 8px;
  --header-height: 64px;

  --toastify-font-family: inherit;

  // for worldmap and below css
  --text-primary: var(--flathub-dark-gunmetal);
  --bg-color-secondary: var(--flathub-white);
  --color-primary: var(--flathub-celestial-blue);
}

[data-theme="dark"] {
  // Override react-tostify variable here for easy theme adherence
  --toastify-color-light: var(
    --toastify-color-dark
  ); // todo: check if this ever worked
  --toastify-text-color-light: var(--flathub-gainsborow);

  --text-primary: var(--flathub-gainsborow);
  --bg-color-secondary: var(--flathub-arsenic);
  --color-primary: var(--flathub-celestial-blue);
}

a {
  color: rgb(var(--flathub-celestial-blue));
}
