@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  p {
    @apply mb-4;
    @apply text-flathub-dark-gunmetal;
    @apply leading-7;

    @media (prefers-color-scheme: dark) {
      @apply text-flathub-spanish-gray;
    }
  }

  main {
    flex-grow: 1;
  }

  .Toastify__toast {
    @apply rounded-xl;
  }

  html,
  body {
    @apply bg-background text-foreground;
    @apply p-0;
    @apply m-0;
    @apply overflow-x-hidden;
    @apply min-h-screen;
  }

  button,
  a {
    &:focus-visible {
      @apply outline;
      @apply outline-flathub-celestial-blue;
    }
  }

  a {
    @apply text-flathub-celestial-blue-dark;

    @media (prefers-color-scheme: dark) {
      @apply text-flathub-celestial-blue;
    }
  }

  mark {
    @apply rounded-sm;
    @apply bg-flathub-electric-red/40;
    @apply text-current;
  }
}

:root {
  // colors used via tailwind
  --flathub-celestial-blue: 211 65% 57%;
  --flathub-celestial-blue-dark: 211 65% 40%;
  --flathub-electric-red: 0 100% 44%;

  --flathub-status-green: 153 55% 43%;
  --flathub-status-green-dark: 133 75% 75%;

  --flathub-status-yellow: 42 89% 37%;
  --flathub-status-yellow-dark: 52 92% 67%;

  --flathub-status-orange: 21 100% 39%;
  --flathub-status-orange-dark: 21 100% 45%;

  --flathub-status-red: 356 75% 43%;
  --flathub-status-red-dark: 0 65% 51%;

  // grays
  --flathub-white: 0 0% 100%;

  --flathub-lotion: 0 0% 98%;

  --flathub-gainsborow: 45 6% 86%;

  --flathub-gray-x11: 45 3% 75%;

  --flathub-spanish-gray: 45 2% 60%;

  --flathub-sonic-silver: 252 2% 47%;

  --flathub-granite-gray: 277 4% 38%;

  --flathub-arsenic: 261 11% 25%;

  --flathub-dark-gunmetal: 257 23% 16%;

  --flathub-black: 0 0% 0%;

  // reds
  --flathub-vivid-crimson: 345 100% 40%;
  --flathub-dark-candy-apple-red: 354 100% 33%;

  --base-border-radius: 12px;
  --button-border-radius: 8px;
  --header-height: 64px;

  --toastify-font-family: inherit;

  // for worldmap and below css
  --text-primary: var(--flathub-dark-gunmetal);
  --bg-color-secondary: var(--flathub-white);
  --color-primary: var(--flathub-celestial-blue);

  // shad/cn theme
  --background: var(--flathub-white);
  --foreground: var(--flathub-dark-gunmetal);

  --card: var(--flathub-white);
  --card-foreground: var(--flathub-dark-gunmetal);

  --popover: var(--flathub-white);
  --popover-foreground: var(--flathub-dark-gunmetal);

  --primary: var(--flathub-celestial-blue);
  --primary-foreground: var(--flathub-lotion);

  --secondary: var(--flathub-gainsborow);
  --secondary-foreground: var(--flathub-dark-gunmetal);

  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;

  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;

  --destructive: var(--flathub-dark-candy-apple-red);
  --destructive-foreground: var(--flathub-lotion);

  --border: var(--flathub-gainsborow);
  --input: var(--flathub-sonic-silver);
  --ring: var(--flathub-dark-gunmetal);

  --radius: 0.5rem;
}

// shad/cn theme
.dark {
  --background: var(--flathub-arsenic);
  --foreground: var(--flathub-gainsborow);

  --card: var(--flathub-dark-gunmetal);
  --card-foreground: var(--flathub-lotion);

  --popover: var(--flathub-dark-gunmetal);
  --popover-foreground: var(--flathub-lotion);

  --primary: var(--flathub-celestial-blue);
  --primary-foreground: var(--flathub-lotion);

  --secondary: var(--flathub-granite-gray);
  --secondary-foreground: var(--flathub-lotion);

  --muted: var(--flathub-arsenic);
  --muted-foreground: 0 0% 63.9%;

  --accent: var(--flathub-granite-gray);
  --accent-foreground: var(--flathub-lotion);

  --destructive: var(--flathub-vivid-crimson);
  --destructive-foreground: var(--flathub-lotion);

  --border: var(--flathub-granite-gray);
  --input: var(--flathub-spanish-gray);
  --ring: 0 0% 83.1%;

  // Override react-tostify variable here for easy theme adherence
  --toastify-color-light: var(--toastify-color-dark);
  --toastify-text-color-light: var(--flathub-gainsborow);

  // for worldmap and below css
  --text-primary: var(--flathub-gainsborow);
  --bg-color-secondary: var(--flathub-arsenic);
  --color-primary: var(--flathub-celestial-blue);

  // for chart colors
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
