@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply mb-4;
    @apply text-flathub-dark-gunmetal;
    @apply leading-7;

    @media (prefers-color-scheme: dark) {
      @apply text-flathub-spanish-gray;
    }
  }

  main {
    flex-grow: 1;
  }

  .Toastify__toast {
    @apply rounded-xl;
  }

  html,
  body {
    @apply p-0;
    @apply m-0;
    @apply overflow-x-hidden;
    @apply text-flathub-dark-gunmetal;
    @apply min-h-screen;
  }

  @media (prefers-color-scheme: dark) {
    html,
    body {
      @apply text-flathub-gainsborow;
    }
  }

  button,
  a {
    &:focus-visible {
      @apply outline;
      @apply outline-flathub-celestial-blue;
    }
  }
}

:root {
  // colors used via tailwind
  --flathub-celestial-blue: 74 144 217;
  --flathub-electric-red: 226 0 0;

  // grays
  --flathub-white: 255 255 255;

  --flathub-gainsborow: 222 221 218;

  --flathub-gray-x11: 192 191 188;

  --flathub-spanish-gray: 154 153 150;

  --flathub-sonic-silver: 119 118 123;

  --flathub-granite-gray: 94 92 100;

  --flathub-arsenic: 61 56 70;

  --flathub-dark-gunmetal: 36 31 49;

  --flathub-black: 0 0 0;

  --base-border-radius: 12px;
  --button-border-radius: 8px;
  --header-height: 64px;

  --toastify-font-family: inherit;

  // for worldmap and below css
  --text-primary: var(--flathub-dark-gunmetal);
  --bg-color-secondary: var(--flathub-white);
  --color-primary: var(--flathub-celestial-blue);
}

[data-theme="dark"] {
  // Override react-tostify variable here for easy theme adherence
  --toastify-color-light: var(
    --toastify-color-dark
  ); // todo: check if this ever worked
  --toastify-text-color-light: var(--flathub-gainsborow);

  --text-primary: var(--flathub-gainsborow);
  --bg-color-secondary: var(--flathub-arsenic);
  --color-primary: var(--flathub-celestial-blue);
}

a {
  color: rgb(var(--flathub-celestial-blue));
}

.carousel {
  outline: none;
  width: 100%;

  .control-arrow {
    font-size: 32px !important;
    opacity: 0.9 !important;
    top: calc(50% - 30px) !important;

    justify-content: center;
    display: inline-flex;

    height: 48px !important;
    padding: 8px 7px !important;
    border-radius: var(--button-border-radius) !important;

    background-color: rgb(var(--flathub-gray-92)) !important;
    color: rgb(var(--flathub-dark-gunmetal)) !important;

    @media (prefers-color-scheme: dark) {
      background-color: rgb(var(--flathub-outer-space)) !important;
      color: rgb(var(--flathub-gainsborow)) !important;
    }
    &:hover {
      opacity: 0.5 !important;
    }

    &.control-prev {
      left: 12px !important;

      &::before {
        display: none;
      }
    }

    &.control-next {
      right: 12px !important;

      &::before {
        display: none;
      }
    }
  }

  .slide {
    margin-bottom: 60px;
    margin-top: 20px;
  }

  .control-dots {
    margin-bottom: 20px;

    .dot {
      background-color: rgb(var(--text-primary));
      opacity: 0.4;
      box-shadow: none;
      transform: scale(1);

      &.selected {
        transform: scale(1.1);
        opacity: 0.8;
        transition: 200ms all linear;
      }
    }
  }
}
