.form {
  display: flex;
  flex-direction: column;

  background-color: var(--bg-color-secondary);
  border-radius: var(--border-radius);

  gap: 20px;
  padding: 20px;
  margin: 20px 0;

  h4 {
    margin: 0;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 20px;
  }

  .amountInput {
    label {
      position: absolute;
      margin-left: 8px;
      font-size: 1.2rem;
    }

    input {
      padding: 8px;
      padding-left: 28px;
      border: none;
      outline: none;
      color: var(--text-primary);
      background-color: var(--bg-color-primary);
      border-radius: var(--border-radius);
    }
  }
}
