name: Backend node CI

on:
  push:
    branches: main
    paths:
      - "backend-node/**"
      - ".github/workflows/backend_node_ci.yml"
  pull_request:
    branches: main
    paths:
      - "backend-node/**"
      - ".github/workflows/backend_node_ci.yml"
  workflow_dispatch:

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend-node
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "22"

      - name: Corepack enable
        run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Format
        run: yarn format

      - name: Build application
        run: yarn build
        env:
          CI: true
          GITHUB_SHA: ${{ github.sha }}
