name: Backend node CI

on:
  push:
    branches: main
    paths:
      - "backend-node/**"
      - ".github/workflows/backend_node_ci.yml"
  pull_request:
    branches: main
    paths:
      - "backend-node/**"
      - ".github/workflows/backend_node_ci.yml"
  workflow_dispatch:

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend-node
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Corepack enable
        run: corepack enable pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Format
        run: pnpm format

      - name: Build application
        run: pnpm build
        env:
          CI: true
          GITHUB_SHA: ${{ github.sha }}
