name: Frontend CI

on:
  push:
    branches: main
    paths:
      - "frontend/**"
      - ".github/workflows/frontend_ci.yml"
  pull_request:
    branches: main
    paths:
      - "frontend/**"
      - ".github/workflows/frontend_ci.yml"
  workflow_dispatch:

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - name: Cache
        uses: actions/cache@v5
        with:
          path: ${{ github.workspace }}/frontend/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Corepack enable
        run: corepack enable pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm lint

      - name: Build application
        run: pnpm build
        env:
          CI: true
          GITHUB_SHA: ${{ github.sha }}
