name: Lighthouse CI
on:
  schedule:
    - cron: "0 20 * * *"
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Audit URLs using Lighthouse (Mobile)
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            https://flathub.org/
            https://flathub.org/apps/category/Graphics/1
            https://flathub.org/apps/category/AudioVideo/1
            https://flathub.org/feeds
            https://flathub.org/badges
            https://flathub.org/languages
            https://flathub.org/terms-and-conditions
            https://flathub.org/privacy-policy
            https://flathub.org/statistics
            https://flathub.org/about
            https://flathub.org/consultants
            https://flathub.org/apps/org.mozilla.firefox
            https://flathub.org/apps/net.veloren.veloren
            https://flathub.org/setup
            https://flathub.org/setup/Ubuntu
            https://flathub.org/apps/search?q=kde

          uploadArtifacts: true # save results as an action artifacts
          temporaryPublicStorage: true # upload lighthouse report to the temporary storage
